html,
body {
  font-family: 'PingFang SC', 'Microsoft YaHei', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
body {
  background: #f0f0f0;
  padding-bottom: 40px;
}
#main-body {
  width: 960px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}
a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: rgb(245, 0, 4);
  outline: none;
}
a img {
  border: none;
}
h1 {
  color: black;
  font-size: 40px;
  line-height: 60px;
  margin: 40px 0 20px 0;
  padding: 0;
  font-weight: bold;
}
header {
  display: block;
  height: 160px;
}
header li {
  list-style: none;
}
#intro {
  border: 2px solid rgb(245, 0, 4);
  float: left;
  height: 80px;
  line-height: 40px;
  font-size: 20px;
  padding: 18px;
  background: #f8f8f8;
  border-radius: 8px;
  margin-left: 30px;
  color: #333;
}
#intro strong {
  color: #000;
  font-weight: normal;
}
#side-buttons {
  width: 400px;
  height: 160px;
  float: right;
  padding: 0;
  text-align: right;
  margin-right: 30px;
}
#convert {
  background: rgb(251, 0, 6);
  color: #fff;
  font-size: 32px;
  line-height: 50px;
  padding: 10px 50px;
  width: 300px;
  clear: both;
  display: block;
  float: right;
  text-align: center;
}
#convert:hover {
  filter: brightness(0.85);
  cursor: pointer;
}
h3 {
  font-size: 24px;
  font-weight: bold;
  border-bottom: 2px #ccc solid;
  padding: 10px 20px;
  margin: 20px 0 10px;
}
.in {
  padding: 5px 2em;
  border: 4px;
}
.p {
  margin: 0.5em 0;
}
ul {
  margin: 0;
}

span.note {
  font-size: 14px;
}

div.option-wrapper {
  border: #000 1px dashed;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 21px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgb(245, 0, 4);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}